{% extends 'app/base.html' %}
{% load static %}

{% block title %} Homepage || Design Last {% endblock %}

{% block content %}
<!-- start section -->
<section class="section light-backgorund">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <div class="navbar-vertical">
                    <ul class="nav nav-stacked">
                        <li class="header">
                            <h6 class="text-uppercase">Categories <i class="fa fa-navicon pull-right"></i></h6>
                        </li>
                        {% if cat_menu %}
                        {% for menu in cat_menu %}
                        <li>
                            <a class="dropdown-toggle"  href="{% url 'Category_View' menu.name %}">{{menu.name}}</a>
                        </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div><!-- end navbar-vertical -->

                <hr class="spacer-20 no-border">

                <div class="widget hidden-xs">
                    <h6 class="subtitle text-uppercase">Bestsellers</h6>

                    <ul class="items">
                        {% if best_seller %}
                        {% for item in best_seller %}
                        <li>
                            <a href="shop-single-product-v1.html" class="product-image">
                                <img src="/media/{{item.image}}" alt="Sample Product ">
                            </a>
                            <div class="product-details">
                                <p class="product-name">
                                    <a href="{% url 'Single_page_views' item.id %}">{{item.name}}</a>
                                </p>
                                <span class="price text-primary">$ {{item.price}}</span>
                                <div class="rate text-warning">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </li><!-- end item -->
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div><!-- end widget -->
            </div><!-- end col -->
            <div class="col-sm-8 col-md-9">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="owl-carousel slider owl-theme">
                            {% for slider in slider_obj %}
                            <div class="item">
                                <figure>
                                    <a href="javascript:void(0);">
                                        <img src="/media/{{slider.image}}" alt=""/>
                                    </a>
                                </figure>
                            </div><!-- end item -->
                            {% endfor %}
                        </div><!-- end owl carousel -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="spacer-20 no-border">

                <div class="row">
                    <div class="col-sm-12">
                        <h6 class="ml-5 mb-20 text-uppercase"><span class="text-primary">Newest</span> Products</h6>
                    </div><!-- end col -->
                    <div class="col-sm-12">
                        <div class="owl-carousel column-3 owl-theme">
                            {% if latest_product %}
                            {% for item in latest_product %}
                            <div class="item">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="/media/{{item.image}}" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="{% url 'Single_page_views' item.id %}">{{item.name}}</a></h6>
                                        <div class="price">
                                            <small class="amount off">$ {{item.discount_price}}</small>
                                            <span class="amount text-primary">$ {{item.price}}</span>
                                        </div>
                                        <a href="{{item.order_now_link}}"><i class="fa fa-cart-plus mr-5"></i>Order Now</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end item -->
                            {% endfor %}
                            {% endif %}
                        </div><!-- end owl carousel -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- end section -->


<!-- start section -->
<section class="section dark-background">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="icon-boxes style2 info-background">
                    <div class="icon">
                        <i class="fa fa-life-ring text-white"></i>
                    </div><!-- end icon -->
                    <div class="box-content">
                        <h6 class="alt-font text-white text-uppercase">Support 24/7</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div><!-- icon-box -->
            </div><!-- end col -->
            <div class="col-sm-4">
                <div class="icon-boxes style2 warning-background">
                    <div class="icon">
                        <i class="fa fa-gift text-white"></i>
                    </div><!-- end icon -->
                    <div class="box-content">
                        <h6 class="alt-font text-white text-uppercase">Gift cards</h6>
                        <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div><!-- icon-box -->
            </div><!-- end col -->
            <div class="col-sm-4">
                <div class="icon-boxes style2 danger-background">
                    <div class="icon">
                        <i class="fa fa-credit-card text-white"></i>
                    </div><!-- end icon -->
                    <div class="box-content">
                        <h6 class="alt-font text-white text-uppercase">Payment 100% Secure</h6>
                        <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div><!-- icon-box -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- end section -->


<!-- start section -->
<section class="section white-background">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs style1" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#featured" aria-controls="featured" role="tab" data-toggle="tab"><h6 class="text-uppercase">Featured</h6></a>
                    </li>
                    <li role="presentation">
                        <a href="#special" aria-controls="special" role="tab" data-toggle="tab"><h6 class="text-uppercase">Special</h6></a>
                    </li>
                    <li role="presentation">
                        <a href="#bestsellers" aria-controls="bestsellers" role="tab" data-toggle="tab"><h6 class="text-uppercase">Bestsellers</h6></a>
                    </li>
                </ul><!-- nav-tabs -->

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="featured">
                        <div class="row column-3">
                          {% if featured %}
                          {% for item in featured %}
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="/media/{{ item.image }}" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="{% url 'Single_page_views' item.id %}">{{ item.name }}</a></h6>
                                        <div class="price">
                                            <small class="amount off">${{ item.discount_price }}</small>
                                            <span class="amount text-primary">${{ item.price }}</span>
                                        </div>
                                        <a href="{{item.order_now_link}}"><i class="fa fa-cart-plus mr-5"></i>Order Now</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->
                            {% endfor %}
                            {% endif %}
                        </div><!-- end row -->
                    </div><!-- end tab -->
                    <div role="tabpanel" class="tab-pane fade" id="special">
                        <div class="row column-3">
                            {% if special %}
                            {% for item in special %}
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="/media/{{ item.image }}" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="{% url 'Single_page_views' item.id %}">{{ item.name }}</a></h6>
                                        <div class="price">
                                            <small class="amount off">$ {{ item.discount_price }}</small>
                                            <span class="amount text-primary">$ {{ item.price }}</span>
                                        </div>
                                        <a href="{{item.order_now_link}}"><i class="fa fa-cart-plus mr-5"></i>Order Now</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->
                        {% endfor %}
                        {% endif %}
                        </div><!-- end row -->
                    </div><!-- end tab -->
                    <div role="tabpanel" class="tab-pane fade" id="bestsellers">
                        <div class="row column-3">
                          {% if best_seller_galllery %}
                          {% for item in best_seller_galllery %}
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                      <figure class="layer">
                                          <a href="javascript:void(0);">
                                              <img src="/media/{{ item.image }}" alt="">
                                          </a>
                                      </figure>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="{% url 'Single_page_views' item.id %}">{{ item.name }}</a></h6>
                                        <div class="price">
                                            <small class="amount off">${{ item.discount_price }}</small>
                                            <span class="amount text-primary">${{ item.price }}</span>
                                        </div>
                                        <a href="{{item.order_now_link}}"><i class="fa fa-cart-plus mr-5"></i>Order Now</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->
                            {% endfor %}
                            {% endif %}
                        </div><!-- end row -->
                    </div><!-- end tab -->
                </div><!-- end tab content -->
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="spacer-10 no-border"/>

        <div class="row">
            <div class="col-sm-6">
                <div class="box-banner-img">
                    <figure>
                        <a href="javascript:void(0);">
                            <img src="{% static 'img/banners/banner_04.jpg' %}" alt=""/>
                        </a>
                    </figure>
                </div><!-- end box-banner-img -->
            </div><!-- end col -->
            <div class="col-sm-6">
                <div class="box-banner-img">
                    <figure>
                        <a href="javascript:void(0);">
                            <img src="{% static 'img/banners/banner_05.jpg' %}" alt=""/>
                        </a>
                    </figure>
                </div><!-- end box-banner-img -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- end section -->


<!-- start section -->
<section class="primary-background">
    <div class="container">
        <div class="box-banner-wide primary-background">
            <div class="row">
                <div class="col-sm-4 vertical-align">
                    <h2 class="alt-font text-uppercase text-white">
                        Free <span class="regular">Delivery!</span>
                    </h2>
                </div><!-- end col -->
                <div class="col-sm-4 vertical-align">
                    <p class="mt-20">Typi non habent claritatem insitam, est usus legentis in iis qui facit eorum claritatem.</p>
                </div><!-- end col -->
                <div class="col-sm-4 vertical-align text-right">
                    <a target="_blank" href="#" class="btn btn-light semi-circle btn-md">About Us</a>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end box-banner-wide -->
    </div><!-- end container -->
</section>
<!-- end section -->

{% endblock %}
