{% extends 'app/base.html' %}
{% load static %}

{% block title %} Shoppage {% endblock %}

{% block content %}

        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul>
                            <li><a href="{% url 'homepage' %}">Home</a></li>
                            <li class="active">Product Shop Page</li>
                        </ul><!-- end breadcrumb -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end breadcrumbs -->

        <!-- start section -->
        <section class="section white-backgorund">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 text-left">
                                <h2 style="margin-top: -50px" class="title">Shop Shop</h2>
                            </div><!-- end col -->
                        </div><!-- end row -->

                        <hr class="spacer-5"><hr class="spacer-20 no-border">

                        <div class="row column-3">

                          {% if all_products %}
                          {% for item in all_products %}
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="/media/{{item.image}}" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="{% url 'Single_page_views' item.id %}">{{ item.name }}</a></h6>
                                        <div class="price">
                                            <small class="amount off">$ {{ item.discount_price }}</small>
                                            <span class="amount text-primary">$ {{ item.price }}</span>
                                        </div>
                                        <a href="{{item.order_now_link}}"><i class="fa fa-cart-plus mr-5"></i>Order Now</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->
                            {% endfor %}
                            {% endif %}
                        </div><!-- end row -->

                        <hr class="spacer-10 no-border">

                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <nav>
                                    <ul class="pagination">
                                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li class="active"><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                                    </ul>
                                </nav>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->
                </div><!-- end row -->

            </div><!-- end container -->
        </section>
        <!-- end section -->
{% endblock %}
