{% extends 'app/base_admin.html' %}
{% load static %}

{% block title %} Add Category {% endblock %}

{% block body %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4 class="page-title">Add Category</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">


                <!-- End message framwork -->
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                <!-- End message framwork -->
                
                <form method="POST">
                  {% csrf_token %}
                    <div class="form-group">
                        <label>Category Name</label>
                        {{form.name}}
                    </div>
                    <div class="m-t-20">
                        <button class="btn btn-primary btn-lg">Publish</button>
                    </div>
                </form>
                <br/>
                <br/>
                <div class="table-responsive">
                  <table class="table table-border custom-table m-b-0">
                    <thead>
                      <tr>
                        <th>Category Name</th>
                        <th>Create At</th>
                        <th>Edit Cateogry</th>
                        <th>Delete Cateogry</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if category_obj %}
                      {% for cat in category_obj %}
                      <tr>
                        <th>{{cat.name}}</th>
                        <th>{{cat.create_at}}</th>
                        <th><a href="{% url 'update_caategroy' cat.name %}">Edit Item</a></th>
                        <th><a href="{% url 'delete_category' cat.id %}">Delete Item</a></th>
                      </tr>
                      {% endfor %}
                      {% endif %}
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
