{% extends 'app/base_admin.html' %}
{% load static %}

{% block title %} List of Product {% endblock %}

{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <!-- start message framwork -->
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                <!-- End message framwork -->
                    <table class="table table-border custom-table m-b-0">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Product Id</th>
                                <th>Created Date</th>
                                <th>Color</th>
                                <th>Delete Product</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% if product_obj %}
                          {% for item in product_obj %}
                            <tr>
                                <td>
                                    <div class="product-det">
                                        <img src="/media/{{item.image}}" alt="">
                                        <div class="product-desc">
                                            <h2>{{item.name}}</h2>
                                        </div>
                                    </div>
                                </td>
                                <td>{{item.product_code}}</td>
                                <td>{{item.publish_on}}</td>
                                <td>{{item.color}}</td>
                                <td><span class="label label-danger-border"><a href="{% url 'delete_product_viwes' item.id %}">Delete</a></span></td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <!-- Pagination -->
                <div class="pagination text-center">
                    <span class="step-links">
                        {% if product_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ product_obj.previous_page_number }}">previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ product_obj.number }} of {{ product_obj.paginator.num_pages }}.
                        </span>
                
                        {% if product_obj.has_next %}
                            <a href="?page={{ product_obj.next_page_number }}">next</a>
                            <a href="?page={{ product_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
