{% extends 'app/base_admin.html' %}
{% load static %}


{% block title %} Show All Product {% endblock %}

{% block body %}

        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-sm-4 col-xs-3">
                        <h4 class="page-title">Adding Products from here</h4>
                    </div>
                    <div class="col-sm-8 col-xs-9 text-right m-b-20">
                        <a href="{% url 'add_prodct_views' %}" class="btn btn-primary rounded pull-right"><i class="fa fa-plus"></i> Add Product</a>
                    </div>
                </div>
                <div class="row">
                  {% if products %}
                  {% for item in products %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="product">
                            <div class="product-inner">
                                <img alt="alt" src="/media/{{item.image}}">
                                <a href="{% url 'edit_product_views' item.id %}" class="btn btn-info proedit-btn">Edit</a>
                            </div>
                            <div class="pro-desc">
                                <h5>{{item.name}}</h5>
                                <div class="price">{{item.category}}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
